<!--<input placeholder="New Task" #newTaskInput />-->

<!--<button (click)="createTask(newTaskInput.value, null)">New Task</button>-->

<!--<ul>-->
<!--  <li class="text" *ngFor="let task of tasks | async">-->
<!--    {{ task.text }}-->
<!--    <button>focus</button>-->
<!--    <input-->
<!--      class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"-->
<!--      placeholder="New Task"-->
<!--      #newTaskInput-->
<!--    />-->
<!--    <button (click)="createTask(newTaskInput.value, task.uid)">New Task</button>-->
<!--  </li>-->
<!--</ul>-->
<div class="home">
  <div class="lvl1">
    <!--    <a [routerLink]="selectedTaskSync?.parent ? '/'+selectedTaskSync?.parent : '/'">back</a>-->
    <div class="my-form">
      <input #newTaskInput1 type="text" placeholder="New task" />
      <button
              (click)="createTask(newTaskInput1.value, lvl1Parent)"
      >
        Create Task
      </button>
    </div>
    <div *ngFor="let task of lvl1 | async">
      <button (click)="selectTask(task, 1)">{{
        task.text
      }}</button>
    </div>

  </div>

  <div class="lvl2">
    <div class="my-form">
      <input #newTaskInput2 type="text" placeholder="New task" />
      <button
              (click)="createTask(newTaskInput2.value, lvl2Parent)"
      >
        Create Task
      </button>
    </div>
    <div *ngFor="let task of lvl2 | async">
      <button (click)="selectTask(task, 2)">{{
        task.text
        }}</button>
    </div>
  </div>

  <div class="lvl3">
    <div class="my-form">
      <input #newTaskInput3 type="text" placeholder="New task" />
      <button
              (click)="createTask(newTaskInput3.value, lvl3Parent)"
      >
        Create Task
      </button>
    </div>
    <div *ngFor="let task of lvl3 | async">
      <button (click)="selectTask(task, 3)">{{
        task.text
        }}</button>
    </div>
  </div>
</div>
